<p-splitter
  stateStorage="local"
  class="mb-8"
  [layout]="screenSize == 'sm' ? 'vertical' : 'horizontal'"
  [panelSizes]="[35, 65]"
  [stateKey]="splitterStorageKey() && screenSize !== 'sm' ? 'splitter.' + splitterStorageKey() : undefined"
>
  <ng-template #panel>
    <div class="w-full">
      <app-trivy-table
        #mainTable
        [activeNamespaces]="activeNamespaces()"
        [dataDtos]="_dataDtos"
        [dataKey]="mainTableDataKey()"
        [extraClasses]="mainTableExtraClasses()"
        [isClearSelectionVisible]="mainTableIsClearSelectionVisible()"
        [isCollapseAllVisible]="mainTableIsCollapseAllVisible()"
        [isExportCsvVisible]="mainTableIsExportCsvVisible()"
        [isFooterVisible]="mainTableIsFooterVisible()"
        [isLoading]="_isMainTableLoading"
        [isRefreshFilterable]="mainTableIsRefreshFilterable()"
        [isRefreshVisible]="mainTableIsRefreshVisible()"
        [isResetFiltersVisible]="mainTableIsResetFiltersVisible()"
        [multiHeaderActions]="mainTableMultiHeaderActions()"
        [rowExpandData]="mainTableRowExpandResponse()"
        [rowExpansionRender]="mainTableRowExpansionRender()"
        [selectionMode]="mainTableSelectionMode()"
        [singleSelectDataDto]="_singleSelectDataDto"
        [stateKey]="mainTableStateKey()"
        [rowHeight]="mainTableRowHeight()"
        [style]="mainTableStyle()"
        [trivyTableColumns]="mainTableColumns()"
        (multiHeaderActionRequested)="onMainTableMultiHeaderActionRequested($event)"
        (refreshRequested)="onRefreshRequested($event)"
        (rowExpandActionCallback)="onMainTableExpandCallback($event)"
        (rowExpandDataChange)="onMainTableRowExpandChange($event)"
        (selectedRowsChanged)="onMainTableSelectionChange($event)"
      />
    </div>
  </ng-template>
  <ng-template #panel>
    <div class="w-full">
      <app-trivy-table
        class="row"
        [activeNamespaces]="activeNamespaces()"
        [dataDtos]="selectedDataDto?.details ?? []"
        [dataKey]="detailsDataKey()"
        [extraClasses]="detailsExtraClasses()"
        [isClearSelectionVisible]="detailsIsClearSelectionVisible()"
        [isCollapseAllVisible]="detailsIsCollapseAllVisible()"
        [isExportCsvVisible]="detailsIsExportCsvVisible()"
        [isFooterVisible]="detailsIsFooterVisible()"
        [isLoading]="_isMainTableLoading"
        [isRefreshFilterable]="detailsIsRefreshFilterable()"
        [isRefreshVisible]="detailsIsRefreshVisible()"
        [isResetFiltersVisible]="detailsIsResetFiltersVisible()"
        [multiHeaderActions]="detailsMultiHeaderActions()"
        [rowExpansionRender]="detailsRowExpansionRender()"
        [selectionMode]="detailsSelectionMode()"
        [stateKey]="detailsStateKey()"
        [rowHeight]="detailsRowHeight()"
        [style]="detailsStyle()"
        [trivyTableColumns]="detailsTableColumns()"
        (multiHeaderActionRequested)="onDetailsTableMultiHeaderActionRequested($event)"
      />
    </div>
  </ng-template>
</p-splitter>
