/* You can add global styles to this file, and also import other style files */
@use './styles/p-breadcrumb.scss';
//@import './styles/p-inputswitch.scss';
@use './styles/p-panel.scss';
@use './styles/p-card.scss';

@import '../node_modules/primeicons/primeicons.css';
@plugin "tailwindcss-primeui";
@layer mat-icons, tailwind, primeng, app-layer;

@import './app/themes/trivy-operator-dashboard.variables.css';

@layer tailwind {
  @import './styles/tailwind.local.css';
}

/* Components fixes*/
@layer app-layer {
}

// Others
.hide-on-small {
  display: none;
}

@media (min-width: 992px) {
  .hide-on-small {
    display: block;
  }
}

// tests
.custom-small-row tr {
  height: 25px;
}

.custom-small-row td {
  padding: 0;
  padding-left: 4px;
  height: 25px !important;
  line-height: 1em;
}

.p-round-datatable {
  border-radius: 2px;
  border: 1px solid var(--p-menubar-border-color);
}

p-splitbutton.text-sm {
  .p-menuitem-text {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  @for $i from 1 through 12 {
    .xxl\:col-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / 12 * #{$i});
    }
  }
}

/* p-dialog classes */
.p-dialog {
  max-height: unset !important;
}

p-dialog.tod-dialog-h-full div.p-dialog-content {
  height: 100% !important;
}

/* various tailwind reverts */
ul:not(.p-carousel-indicator-list):not(.p-panelmenu-root-list):not(.p-tieredmenu-root-list) {
  list-style-type: disc !important;
  //  padding-left: 1.25rem;
}

markdown p {
  padding-top: 1.25rem;
}

a:not([pRipple]):not(p-tieredmenu-item-link) {
  @apply text-blue-400 underline hover:text-blue-500 hover:no-underline;
}

/* p-panel classes */
p-panel.h-full > .p-panel.p-component {
  height: 100% !important;
}

p-panel.h-full .p-panel-content-container {
  height: calc(100% - 2 * var(--p-panel-header-padding) - 1rem) !important;
  @apply flex flex-col;
}

p-panel.h-full .p-panel-footer {
  @apply mt-auto;
}

/* p-table classes */
p-table.p-datatable-xs .p-datatable-tbody > tr > td {
  font-size: 0.8125rem;
  padding: 0.25rem 0.6rem;
}

p-table.p-datatable-xs .p-datatable-thead > tr > th {
  font-size: 0.875rem;
  font-weight: 600;
}

span.p-sortable-column-badge {
  background-color: var(--p-primary-color);
  border-radius: var(--p-tag-rounded-border-radius);
  color: var(--p-tag-primary-color);
  font-size: var(--p-tag-font-size);
  font-weight: var(--p-tag-font-weight);
  gap: var(--p-tag-gap);
  padding: var(--p-tag-padding);
  margin: 0.3rem;
}

p-table-row-height {
  height: calc(var(--tod-host-line-height) * 2 + 0.5rem);
}

p-button.w-full button {
  width: 100%;
}

/*** temp fix for https://github.com/primefaces/primeng/issues/16576 ***/
p-columnfilter.tod-active-filter button {
  background: var(--p-primary-color);
  color: var(--p-primary-contrast-color);
  height: 1.25rem;
  width: 1.25rem;
}

/* p-columnfilter classes */
p-columnfilter.tod-active-filter p-button {
  padding-left: 0.75rem;
}

/* p-card classes */
p-card.h-full > .p-card.p-component {
  @apply h-full;
}

p-card.h-full > .p-card.p-component > .p-card-body {
  @apply h-full;
}

p-card.h-full > .p-card.p-component > .p-card-body > .p-card-content {
  @apply h-full;
}

p-card.tod-panel-mt-auto .p-card-content {
  @apply flex flex-col;
}

p-card.p-card-bold-subtitle .p-card-subtitle {
  @apply font-bold;
}

p-card.small-header .p-card-title {
  font-size: 1rem;
  font-weight: 700;
}

/* p-breadcrumb classes */
.breadcrumb-size {
  font-size: 14px;
}

.breadcrumb-pointer a {
  cursor: pointer;
  @extend .breadcrumb-size;
}

.breadcrumb-no-background .p-breadcrumb {
  background-color: transparent !important;
  border: none;
  color: inherit;
  box-shadow: none;
  padding-bottom: 0;
  padding-top: 0;
}

.breadcrumb-no-overflow {
  max-width: 100%;
  overflow: hidden;
}

/* generic classes */
body > div.p-tieredmenu {
  @apply text-sm;
}

/* p-splitter classes */
p-splitter.tod-splitter-no-borders {
  border: none !important;
}

/* tod classes */
.tod-text-center {
  text-align: center;
}

.tod-text-right {
  text-align: right;
}

.tod-text-contrast-color {
  color: var(--p-primary-contrast-color);
}

.tod-content-border-contrast-color {
  border: 2px solid var(--p-text-color);
  border-radius: var(--p-border-radius-sm);
}

.tod-content-border {
  border: 1px solid var(--p-content-border-color);
  border-radius: var(--p-content-border-radius);
}

.tod-content-background {
  background-color: var(--p-content-background);
}

.tod-content-border-top-light {
  border-top-width: 1px;
  border-style: solid;
  border-color: var(--p-content-border-color);
}

.tod-no-background {
  background-color: unset !important;
}

.tod-datatable-border-color {
  color: var(--p-datatable-border-color);
}

.tod-text-muted-color {
  color: var(--p-text-muted-color);
}

//.tod-text-muted-color:hover {
//  color: var(--tod-text-primary-color);
//}

tr.p-datatable-row-selected .tod-text-muted-color,
tr.p-treetable-row-selected .tod-text-muted-color {
  color: var(--tod-text-revert-muted-color);
}


.tod-text-primary-color,
tr:not(.p-datatable-row-selected):not(.p-treetable-row-selected) p-button.tod-text-primary-color button {
  color: var(--tod-text-primary-color);
}

.tod-text-primary-color,
tr.p-datatable-row-selected p-button.tod-text-primary-color button,
tr.p-treetable-row-selected p-button.tod-text-primary-color button {
  color: var(--tod-text-revert-primary-color);
}

.tod-separator {
  background: var(--p-button-text-primary-color);
}

.tod-py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tod-h90vw {
  height: 90vh;
}

/* mat-icon classes */
mat-icon.text-sm {
  font-size: 1.25rem;
  height: unset;
  width: unset;
}

mat-icon.text-xs {
  font-size: 1rem;
  height: unset;
  width: unset;
}

/* p-tag classes */
p-tag:has(> mat-icon) {
  gap: unset;
}

p-tag.text-xs span.p-tag-label {
  font-size: 0.65rem;
}

p-tag.text-lg span.p-tag-label {
  font-size: 0.825rem;
}

p-tag.only-icon {
  display: unset;
}

p-tag.border-primary-color {
  border: 2px solid var(--p-primary-contrast-color)
}

/* blockquote classes */
blockquote {
  padding-top: 1rem;

  font-style: italic;
  color: var(--p-tod-blockquote-text-color);
}

blockquote p:first-of-type {
  padding-top: 0;
  padding-left: 1rem;
  border-left: 4px solid var(--p-surface-700);
}

blockquote p:not(:first-of-type) {
  padding-top: 1rem;
  padding-left: 1rem;
  border-left: 4px solid var(--p-surface-700);
}

/* p-select classes */
p-select.text-sm span.p-select-label {
  font-size: 0.875rem;
}
p-select.text-sm input.p-select-filter {
  font-size: 0.875rem;
}

.tod-tooltip-shadow {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8) !important;
}

.mini-bar-chart-hover-effect {
  stroke: transparent;
  stroke-width: 0.25px;
  rx: 2;

  transition:
    transform 0.9s ease-in-out,
    filter 0.9s ease-in-out,
    stroke 0.9s ease-in-out,
    stroke-width 0.9s ease-in-out;


  transform-origin: var(--bar-origin-x) var(--bar-origin-y);
}

.chart-container svg {
  overflow: visible;
}

.p-datatable-row-selected .chart-wrapper {
  background: color-mix(in srgb, var(--p-datatable-row-background) 40%, transparent);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.35);
}

/* p-inputnumber */
.p-inputnumber-sm {
  font-size: 0.875rem; /* text-sm */
}

.p-inputnumber-sm .p-inputtext {
  @apply text-sm py-1 px-2;
  height: 2rem; /* shrink height */
  width: 80px;
}

.p-inputnumber-sm .p-button {
  width: 2rem;
  height: 2rem;
}

.p-inputnumber-sm .p-inputnumber-input {
  @apply text-sm;
}
