<div class="tod-content-border">
  <app-trivy-table
    [dataDtos]="watcherStateInfoDtos()"
    [isLoading]="isLoading()"
    [isRefreshVisible]="true"
    [isResetFiltersVisible]="true"
    [stateKey]="'Watcher States'"
    [style]="{ width: '1205px' }"
    [trivyTableColumns]="trivyTableColumns"
    (refreshRequested)="getTableDataDtos()"
    (rowActionRequested)="onRowActionRequested($event)"
  />
</div>

<p-dialog
  header="Recreate watcher"
  class="tod-dialog-h-full"
  [closable]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [modal]="true"
  [style]="{ width: '45rem', height: '15rem' }"
  [(visible)]="isRecreateWatcherDialogVisible"
>
  <div class="flex flex-col h-full">
    <div class="flex-1 overflow-auto">
      @if (!isActionStarted) {
        <p class="p-text-secondary mb-4">
          Are you sure you want to recreate the watcher
          <b>{{ requestedRecreateWatcher?.kubernetesObjectType ?? 'n/a' }}</b>
          in namespace <b>{{ requestedRecreateWatcher?.namespaceName ?? 'n/a' }}</b
          >? This will delete the existing watcher and create a new one.
        </p>
      } @else {
        <p>{{ recreateWatcherResponseMessage }}</p>
      }
      @if (recreateWatcherResponseError) {
        <p>Error: {{ recreateWatcherResponseError }}</p>
      }
    </div>

    <div class="mt-auto pt-6 flex justify-end gap-2">
      @if (!isActionStarted) {
        <p-button label="Cancel" raised severity="secondary" text (click)="isRecreateWatcherDialogVisible = false" />
        <p-button label="Recreate" raised text [disabled]="isActionStarted" (click)="onRecreateWatcherRequested()" />
      } @else {
        <p-button label="Close" raised severity="secondary" text (click)="isRecreateWatcherDialogVisible = false" />
      }
    </div>
  </div>
</p-dialog>
