<div #container
     class="chart-container"
     (mouseleave)="hoveredBar(null)" >

  <svg [attr.viewBox]="'0 0 100 ' + height"
       preserveAspectRatio="none"
       style="width: 100%; height: 39px;"
       (mouseleave)="hoveredBar(null)" >

    <!-- baseline -->
    <line
      x1="0"
      [attr.y1]="zeroY()"
      x2="100"
      [attr.y2]="zeroY()"
      stroke="var(--tod-text-primary-color)"
      stroke-width="0.3"
    />

    @for (stack of bars(); track i; let i = $index) {

      <!-- POSITIVE STACK -->
      @for (v of getPositiveStack(stack); track j; let j = $index) {
        @if (v > 0) {
          <rect
            [attr.x]="i * barWidth()"
            [attr.y]="getY(stack, j)"
            [attr.width]="barWidth() - gap()"
            [attr.height]="getHeight(v)"
            [attr.fill]="(j | severityCssStyleById : 1).background"
            [attr.rx]="j === stack.length - 1 ? 1 : 0"
            (mouseenter)="hoveredBar(dataDtos()[i], $event)"
            (mousemove)="onMouseMove($event)"
            (mouseleave)="hoveredBar(null)"
          />
        }
      }

      <!-- NEGATIVE STACK -->
      @for (v of getNegativeStack(stack); track j; let j = $index) {
        @if (v < 0) {
          <rect
            [attr.x]="i * barWidth()"
            [attr.y]="getY(stack, j)"
            [attr.width]="barWidth() - gap()"
            [attr.height]="getHeight(v)"
            [attr.fill]="(j | severityCssStyleById : 1).background"
            [attr.rx]="j === stack.length - 1 ? 1 : 0"
            (mouseenter)="hoveredBar(dataDtos()[i], $event)"
            (mousemove)="onMouseMove($event)"
            (mouseleave)="hoveredBar(null)"
          />
        }
      }
    }
  </svg>

  @if (hovered()) {
    <div class="tod-tooltip"
         [style.left.px]="tooltipX()"
         [style.top.px]="tooltipY()" >
      <strong>{{ title() }}</strong>
      <table>
        <thead>
        <tr>
          <th>Date</th>
          <th>C</th>
          <th>H</th>
          <th>M</th>
          <th>L</th>
          <th>U</th>
        </tr>
        </thead>
        <tbody>
          @for (row of dataDtos(); track i; let i = $index) {
            @if (row.total > 0 || row.total < 0) {
              <tr [style.font-weight]="row === hovered() ? '600' : '400'" >
                <td>{{ row.label }}</td>
                <td>{{ row.critical }}</td>
                <td>{{ row.high }}</td>
                <td>{{ row.medium }}</td>
                <td>{{ row.low }}</td>
                <td>{{ row.unknown }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  }
</div>
