<div #miniBarChart
     class="chart-container chart-wrapper" >
  <svg [attr.viewBox]="'0 0 100 ' + height()"
       preserveAspectRatio="none"
       class="w-full mx-1"
       [style.height]="height() + 'px'" >

    <!-- baseline -->
    <line x1="0"
          [attr.y1]="zeroY()"
          x2="100"
          [attr.y2]="zeroY()"
          stroke="var(--tod-text-primary-color)"
          stroke-width="0.3" />

    @for (stack of bars(); track i; let i = $index) {
      <!-- POSITIVE STACK -->
      @for (v of getPositiveStack(stack); track j; let j = $index) {
        @if (v > 0) {
          <rect [attr.x]="i * barWidth()"
                [attr.y]="getY(stack, j)"
                [attr.width]="barWidth() - gap()"
                [attr.height]="getHeight(v)"
                [attr.fill]="(j | severityCssStyleById : 1).background"
                [attr.rx]="0.7"
                [attr.ry]="0.7"
                [attr.opacity]="highlightMask()[i] ? 1 : 0.3"
                class="mini-bar-chart-hover-effect"
                [style.--bar-origin-x]="(i * barWidth()) + 'px'"
                [style.--bar-origin-y]="zeroY() + 'px'"
                [class.is-hovered]="hoveredIndex === i" />
        }
      }

      <!-- NEGATIVE STACK -->
      @for (v of getNegativeStack(stack); track j; let j = $index) {
        @if (v < 0) {
          <rect [attr.x]="i * barWidth()"
                [attr.y]="getY(stack, j)"
                [attr.width]="barWidth() - gap()"
                [attr.height]="getHeight(v)"
                [attr.fill]="((j % 5) | severityCssStyleById : 1).background"
                [attr.rx]="0.7"
                [attr.ry]="0.7"
                [attr.opacity]="highlightMask()[i] ? 1 : 0.3"
                class="mini-bar-chart-hover-effect"
                [style.--bar-origin-x]="(i * barWidth()) + 'px'"
                [style.--bar-origin-y]="zeroY() + 'px'"
                [class.is-hovered]="hoveredIndex === i" />
        }
      }

      @if (hasData(internalDataDtos()[i])) {
        <!-- 👇 HIT AREA (invisible) -->
        <rect [attr.x]="i * barWidth() - 0.5"
              y="0"
              [attr.width]="barWidth() + 1"
              [attr.height]="height()"
              fill="transparent"
              style="pointer-events: all;"
              (mouseenter)="hoveredBar(internalDataDtos()[i], i, $event)"
              (mouseleave)="hideTooltip(i)" />
      }
    }
  </svg>
</div>
