<div #miniBarChart
     class="chart-container" >
  <svg [attr.viewBox]="'0 0 100 ' + height()"
       preserveAspectRatio="none"
       style="width: 100%; height: 39px;" >

    <!-- baseline -->
    <line x1="0"
          [attr.y1]="zeroY()"
          x2="100"
          [attr.y2]="zeroY()"
          stroke="var(--tod-text-primary-color)"
          stroke-width="0.3" />

    @for (stack of bars(); track i; let i = $index) {
      <!-- POSITIVE STACK -->
      @for (v of getPositiveStack(stack); track j; let j = $index) {
        @if (v > 0) {
          <rect [attr.x]="i * barWidth()"
                [attr.y]="getY(stack, j)"
                [attr.width]="barWidth() - gap()"
                [attr.height]="getHeight(v)"
                [attr.fill]="(j | severityCssStyleById : 1).background"
                [attr.rx]="j === stack.length - 1 ? 1 : 0" />
        }
      }

      <!-- NEGATIVE STACK -->
      @for (v of getNegativeStack(stack); track j; let j = $index) {
        @if (v < 0) {
          <rect [attr.x]="i * barWidth()"
                [attr.y]="getY(stack, j)"
                [attr.width]="barWidth() - gap()"
                [attr.height]="getHeight(v)"
                [attr.fill]="(j | severityCssStyleById : 1).background"
                [attr.rx]="j === stack.length - 1 ? 1 : 0" />
        }
      }

      @if (hasData(dataDtos()[i])) {
        <!-- 👇 HIT AREA (invisible) -->
        <rect [attr.x]="i * barWidth() - 0.5"
              y="0"
              [attr.width]="barWidth() + 1"
              [attr.height]="height()"
              fill="transparent"
              style="pointer-events: all;"
              (mouseenter)="hoveredBar(dataDtos()[i], $event)"
              (mouseleave)="hoveredBar(null)" />
      }
    }
  </svg>
</div>
