.chart-container {
  position: relative;
  /*overflow: visible;*/
}

.mini-bar-chart-hover-effect.is-hovered {
  transform: scale(1.03);
  filter: brightness(1.2);
  stroke: var(--tod-text-primary-color);
  stroke-width: 0.25px;
}

.mini-bar-chart-hover-effect {
  transition: opacity 0.25s ease-in-out, transform 0.15s ease, filter 0.15s ease;
  /*transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);*/
}
