<div class="trivy-table" [ngClass]="extraClasses()">
  <p-table
    #trivyTable
    columnResizeMode="expand"
    scrollHeight="flex"
    sortMode="multiple"
    stateStorage="local"
    class="p-datatable-xs"
    [columns]="trivyTableColumns()"
    [dataKey]="dataKey()"
    [expandedRowKeys]="expandedRows()"
    [exportFilename]="_csvFileName()"
    [loading]="isLoading()"
    [ngStyle]="{ 'flex-grow': '1', display: 'flex', 'flex-direction': 'column' }"
    [reorderableColumns]="true"
    [resizableColumns]="true"
    [scrollable]="true"
    [selection]="selectedDataDtos()"
    [selectionMode]="selectionMode()"
    [stateKey]="tableStateKey"
    [tableStyle]="style()"
    [value]="_dataDtos()"
    [virtualScroll]="true"
    [virtualScrollItemSize]="rowHeight()"
    (onFilter)="onFilter()"
    (onRowCollapse)="onRowCollapse($event)"
    (onRowExpand)="onRowExpand($event)"
    (onSort)="onSort()"
    (onStateSave)="onTableStateSave()"
    (selectionChange)="onSelectionChange($event)"
  >
    <ng-template pTemplate="caption">
      <div>
        @if (isRefreshVisible() && !isRefreshFilterable()) {
          <p-button icon="pi pi-refresh" label="Refresh" raised size="small" text (onClick)="onFilterRefresh($event)" />
        }
        @if (isRefreshVisible() && isRefreshFilterable()) {
          <p-splitbutton
            #refreshSplitButton
            icon="pi pi-refresh"
            label="Refresh"
            raised
            size="small"
            text
            (onClick)="onFilterRefresh($event)"
            (onDropdownClick)="onFilterDropdownClick($event)"
          />
        }
        @if (isClearSelectionVisible()) {
          <p-button
            icon="pi pi-list"
            label="Clear Selected"
            size="small"
            text
            [disabled]="!isTableRowsSelected"
            (onClick)="onTableClearSelected()"
          />
        }
        @if (dataKey() && isCollapseAllVisible()) {
          <p-button
            icon="pi pi-expand"
            label="Collapse All"
            raised
            size="small"
            text
            [disabled]="anyRowExpanded"
            (onClick)="onTableCollapseAll()"
          />
        }
        @if (isResetFiltersVisible()) {
          <p-button
            icon="pi pi-filter"
            label="Clear Sort/Filters"
            raised
            size="small"
            text
            [disabled]="!isTableFilteredOrSorted()"
            (onClick)="onClearSortFilters()"
          />
        }
        @if (isExportCsvVisible()) {
          <p-button
            icon="pi pi-file-excel"
            label="Export to CSV"
            raised
            size="small"
            text
            (onClick)="csvExportOp.toggle($event)"
          />
        }
        @if (multiHeaderActions() && multiHeaderActions().length == 1) {
          <p-button
            icon="multiHeaderActions()[0].icon"
            raised
            size="small"
            text
            [disabled]="'false'"
            [label]="multiHeaderActions()[0].specialAction ?? multiHeaderActions()[0].label"
            (onClick)="multiHeaderActionGetCommand(multiHeaderActions()[0])()"
          />
        }
        @if (multiHeaderActions() && multiHeaderActions().length > 1) {
          <p-splitbutton
            raised
            size="small"
            text
            class="text-sm"
            [disabled]="'false'"
            [icon]="multiHeaderActions()[0].icon ?? 'pi pi-cog'"
            [label]="multiHeaderActions()[0].specialAction ?? multiHeaderActions()[0].label"
            [model]="multiHeaderActionItems()"
            (onClick)="multiHeaderActionGetCommand(multiHeaderActions()[0])()"
          />
        }
      </div>
    </ng-template>
    <ng-template let-columns pTemplate="header">
      <tr>
        @if (rowExpansionRender()) {
          <th style="width: 50px"></th>
        }
        @for (col of columns; track col) {
          <th
            pReorderableColumn
            pResizableColumn
            style="{{ col.style }}"
            [pSortableColumn]="col.isSortable ? col.field : null"
          >
            {{ col.header }}
            @if (col.isSortable && (col.isSortIconVisible ?? col.isSortable)) {
              <p-sortIcon field="{{ col.field }}" class="sm-sortIcon" />
            }
            @if (col.isFilterable && col.multiSelectType === 'none') {
              <p-columnFilter display="menu" field="{{ col.field }}" type="text" class="sm-filterIcon" />
            }
            @if (col.isFilterable && col.multiSelectType === 'namespaces') {
              <p-columnFilter
                display="menu"
                matchMode="in"
                class="sm-filterIcon"
                [field]="col.field"
                [showAddButton]="false"
                [showMatchModes]="false"
                [showOperator]="false"
              >
                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                  <p-multiSelect
                    placeholder="Any"
                    style="min-width: 300px"
                    class="text-sm"
                    [options]="activeNamespaces()"
                    [(ngModel)]="filterSelectedActiveNamespaces"
                    (onChange)="filter($event.value)"
                  >
                    <ng-template #item let-option>
                      <div class="text-sm">{{ option }}</div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            }
            @if (col.isFilterable && col.multiSelectType === 'severities') {
              <p-columnFilter
                display="menu"
                matchMode="in"
                class="sm-filterIcon"
                [field]="col.field"
                [showAddButton]="false"
                [showMatchModes]="false"
                [showOperator]="false"
              >
                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                  <p-multiSelect
                    optionLabel="name"
                    placeholder="Any"
                    class="text-sm"
                    [filter]="false"
                    [options]="filterSeverityOptions"
                    [showHeader]="false"
                    [showToggleAll]="false"
                    [style]="{ width: '200px' }"
                    [(ngModel)]="filterSelectedSeverityIds"
                    (onChange)="filter($event.value)"
                  >
                    <ng-template let-severityIds pTemplate="selectedItems">
                      <div>{{ severityIds | severityNamesMaxDisplay: 2 }}</div>
                    </ng-template>

                    <ng-template let-option pTemplate="item">
                      <div class="flex items-center gap-2" [style]="{ 'font-size': '14px' }">
                        {{ option | severityNameById }}
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            }
          </th>
        }
      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-expanded="expanded" let-rowData let-rowIndex="rowIndex" pTemplate="body">
      <tr [style.height] = rowHeightPx() [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        @if (dataKey()) {
          <td style="max-width: 50px">
            <p-button
              severity="info"
              size="small"
              class="p-0 tod-text-primary-color"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              [pRowToggler]="rowData"
              [raised]="true"
              [rounded]="true"
              [text]="true"
            />
          </td>
        }
        @for (col of columns; track col) {
          <td style="{{ col.style }}" class="h-full">
            @switch (col.renderType) {
              @case ('standard') {
                <span class="truncate-ellipsis">{{ rowData[col.field] }}</span>
              }
              @case ('date') {
                <span>{{ rowData[col.field] | date: 'yyyy-MM-dd' }}</span>
              }
              @case ('dateTime') {
                <span>{{ rowData[col.field] | localTime }}</span>
              }
              @case ('imageNameTag') {
                <span>{{ rowData[col.field] }}:{{ rowData[col.extraFields[0]] }}</span>
                @if (rowData[col.extraFields[1]]) {
                  <p-tag value="EOSL" class="ml-3" [rounded]="true" [style]="1 | severityCssStyleById: 1" />
                }
              }
              @case ('link') {
                <a href="{{ rowData[col.extraFields[0]] }}" target="_blank">
                  {{ rowData[col.field] }}
                </a>
              }
              @case ('severityBadge') {
                <p-tag value=" {{ rowData[col.field] | severityNameById }}"
                       [rounded]="true"
                       [style]="rowData[col.field] | severityCssStyleById: 1" />
              }
              @case ('severityMultiTags') {
                <div style="display: flex; justify-content: space-between">
                  <p-tag
                    [rounded]="true"
                    [style]="0 | severityCssStyleById: rowData[col.field]"
                    [value]="rowData[col.field]"
                  />
                  @for (extraField of col.extraFields; track $index) {
                    <p-tag
                      [rounded]="true"
                      [style]="$index + 1 | severityCssStyleById: rowData[extraField]"
                      [value]="rowData[extraField]"
                    />
                  }
                </div>
              }
              @case ('eosl') {
                @if (rowData[col.field]) {
                  <p-tag
                    icon="pi pi-exclamation-circle"
                    [rounded]="true"
                    [style]="1 | severityCssStyleById: 1"
                    [value]="'true'"
                  />
                }
              }
              @case ('semaphore') {
                <p-tag
                  [rounded]="true"
                  [style]="rowData[col.field] | semaphoreCssStyleByName"
                  [value]="rowData[col.field]"
                />
              }
              @case ('severityValue') {
                <div class="flex justify-end items-center w-full">
                  <p-tag [rounded]="true"
                         [style]="col.extraFields[0] ?? '' | severityCssStyleById: rowData[col.field] ?? -1"
                         [value]="rowData[col.field] | vulnerabilityCount" />
                </div>
              }
              @case ('multiline') {
                <span [innerHTML]="rowData[col.field].join('<br>')"></span>
              }
              @case ('action') {
                <p-button
                  raised
                  size="small"
                  text
                  class="tod-text-primary-color"
                  [label]="col.extraFields?.[0] ?? 'Change label!'"
                  (onClick)="onRowAction(rowData, col.field)"
                />
              }
              @case ('boolean') {
                <p-tag
                  [icon]="
                    'pi ' +
                    (rowData[col.field] === undefined
                      ? 'pi-question-circle'
                      : rowData[col.field]
                        ? 'pi-verified'
                        : 'pi-times-circle')
                  "
                  [rounded]="true"
                  [style]="rowData[col.field] | booleanCssStyle"
                  [value]="rowData[col.field]?.toString() ?? 'N/A' | capitalizeFirst"
                />
              }
              @case ('unPascalCase') {
                <span>{{ rowData[col.field] | unPascalCase: col.extraFields?.[0] ?? [] }}</span>
              }
              @case ('compareStacked') {
                @if (rowData[col.field]?.split('|').length === 2) {
                  @let first = rowData[col.field].split('|')[0].split('__').join(', ');
                  @let second = rowData[col.field].split('|')[1].split('__').join(', ');
                  <small class="tod-text-muted-color">1st: <span class="font-bold">{{ first }}</span></small><br />
                  <small class="tod-text-muted-color">2nd: <span class="font-bold">{{ second }}</span></small>
                } @else {
                  @let splitData = rowData[col.field].split('__');
                  @if (splitData.length > 1) {
                    <small class="tod-text-muted-color font-semibold">{{ splitData.length }} Versions</small>
                  }
                  <span class="truncate-ellipsis">{{ rowData[col.field].split('__').join(', ') }}</span>
                }
              }
              @case ('counter') {
                <p-tag severity="secondary"
                       [rounded]="true"
                       [value]="rowData[col.field]?.length ?? -1 | vulnerabilityCount" />
              }
              @case ('miniChart') {
                <app-mini-bar-chart [dataDtos]="rowData[col.field]"
                                    tooltipTitle="mama"
                                    [height]="rowHeight()"
                                    [gap]="0.5" />
              }
              @case ('severityDifValue') {
                <p-tag [rounded]="true"
                       [style]="col.extraFields[0] ?? '' | severityDifCssStyleById: rowData[col.field] ?? -1"
                       [icon]="rowData[col.field] | counterIcon"
                       [value]="rowData[col.field] | vulnerabilityCount : 'hideZeroes'" />
              }
              @case ('doubleStackedSpans') {
                 <div class="flex flex-col h-full" [style.height]="rowHeight()+'px'">
                  <div class="flex-1 flex items-center justify-left">
                    <span>{{ col.extraFields?.[0] ?? '' }}</span>
                  </div>

                  <hr class="tod-datatable-border-color">

                  <div class="flex-1 flex items-center justify-left">
                    <span>{{ col.extraFields?.[1] ?? '' }}</span>
                  </div>
                </div>
              }
              @case ('doubleSeverityDifValue') {
                @let showBorder = (col.extraFields?.[2] ?? 'true') === 'true';
                @let showArrow = (col.extraFields?.[3] ?? 'true') === 'true';
                @let negativeCount = (rowData[col.extraFields?.[1]] ?? 0) * (-1);
                <div class="flex flex-col h-full" [style.height]="rowHeight()+'px'">
                  <div class="flex-1 flex items-center justify-end">
                    <p-tag class="mb-2 mt-1"
                           [rounded]="true"
                           [style]="col.extraFields[0] ?? '' | severityDifCssStyleById: rowData[col.field] ?? -1 : showBorder"
                           [icon]="showArrow ? (rowData[col.field] | counterIcon) : ''"
                           [value]="rowData[col.field] | vulnerabilityCount : 'nonNegatives'" />
                  </div>
                  <hr class="tod-datatable-border-color" />
                  <div class="flex-1 flex items-center justify-end">
                    <p-tag class="mt-2 mb-1"
                           [rounded]="true"
                           [style]="col.extraFields[0] ?? '' | severityDifCssStyleById: negativeCount : showBorder"
                           [icon]="showArrow ? (negativeCount | counterIcon) : ''"
                           [value]="negativeCount * (-1) | vulnerabilityCount : 'nonNegatives'" />
                  </div>
                </div>
              }
              @case ('imageFullAndDigest') {
                @let data = rowData[col.field]?.split('|') ?? ['N/A', 'N/A'];
                <span>{{ data[0] ?? 'N/A' }}</span><br />
                <small class="tod-text-muted-color font-bold">{{ data[1] ?? 'N/A' }}</small>
              }
            }
          </td>
        }
      </tr>
    </ng-template>
    @if (rowExpansionRender()) {
      <ng-template let-rowData pTemplate="expandedrow">
        <tr>
          <td [attr.colspan]="trivyTableColumns().length + 1">
            @switch (rowExpansionRender()) {
              @case ('messages') {
                <div class="pl-4 whitespace-normal">
                  @for (mess of rowData.messages; track $index) {
                    <li>{{ mess }}</li>
                  }
                </div>
              }
              @case ('table') {
                <div class="pl-4">
                  @if (_rowExpandMap.getAsync(rowData) | async; as rowExpandData) {
                    <p-table [value]="[{}]">
                      <ng-template pTemplate="header">
                        <tr>
                          @for (col of rowExpandData.headerDef; track $index) {
                            <th [ngClass]="col.class" [ngStyle]="rowExpandData.colStyles[$index]">
                              {{ col.label }}
                            </th>
                          }
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body">
                        @for (row of rowExpandData.details; track row) {
                          <tr>
                            @for (cell of row; track $index) {
                              <td [ngClass]="cell.class" [ngStyle]="rowExpandData.colStyles[$index]">
                                @if (cell.label) {}
                                @if (cell.label) {
                                  <span class="pr-1">{{ cell.label }}</span>
                                }
                                @if (cell.buttonLink) {
                                  <p-button
                                    label="{{ cell.buttonLink }}"
                                    size="small"
                                    class="pr-1"
                                    [text]="true"
                                    (onClick)="onTrivyDetailsTableCallback(rowData)"
                                  />
                                }
                                @if (cell.badge) {
                                  <p-tag
                                    class="pr-1"
                                    [rounded]="true"
                                    [style]="1 | severityCssStyleById: 1"
                                    [value]="cell.badge"
                                  />
                                }
                                @if (cell.localTime) {
                                  <span class="pr-1">{{ cell.localTime | localTime }}</span>
                                }
                                @if (cell.cron) {
                                  <span class="pr-1">{{ cell.cron | cron }}</span>
                                }
                                @if (cell.url) {
                                  <a href="{{ cell.url.link }}" target="_blank" class="pr-1">{{ cell.url.text }}</a>
                                }
                              </td>
                            }
                          </tr>
                        }
                      </ng-template>
                    </p-table>
                  }
                </div>
              }
              @case ('messages') {
                <div class="pl-4 whitespace-normal">
                  @for (mess of rowData.messages; track $index) {
                    <li>{{ mess }}</li>
                  }
                </div>
              }
            }
          </td>
        </tr>
      </ng-template>
    }
    @if (isFooterVisible()) {
      <ng-template pTemplate="summary">
        <div class="flex flex-wrap tod-content-background tod-content-border-top-light p-1 px-2 gap-4">
          <span>Total</span>
          <p-tag severity="contrast" value="{{ trivyTableTotalRecords() }}" [rounded]="true" />
          <span>Filtered</span>
          <p-tag severity="contrast" value="{{ trivyTableFilteredRecords() }}" [rounded]="true" />
        </div>
      </ng-template>
    }
  </p-table>

  <p-popover #csvExportOp [dismissable]="true" (onHide)="onOverlayToggle()" (onShow)="onOverlayToggle()">
    <div style="width: 300px">
      <div class="field">
        <label for="csvFileName" class="text-sm">CSV File Name</label>
        <input id="csvFileName" pInputText class="text-sm w-full" [(ngModel)]="_csvFileName" />
      </div>
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <p-button
            icon="pi pi-filter"
            label="Export Filtered"
            raised
            size="small"
            text
            [disabled]="!trivyTable.filteredValue"
            [style]="{ width: '100%' }"
            (onClick)="onExportToCsv('filtered')"
          />
        </div>
        <div class="col-span-6">
          <p-button
            icon="pi pi-align-justify"
            label="Export All"
            raised
            size="small"
            text
            [style]="{ width: '100%' }"
            (onClick)="onExportToCsv('all')"
          />
        </div>
      </div>
    </div>
  </p-popover>

  @if (filterRefreshSeverities()) {
    <p-popover
      #serverFilterDataOp
      [dismissable]="true"
      [hideTransitionOptions]="'0.3s ease-out'"
      [showTransitionOptions]="'0.3s ease-in'"
      (onHide)="onOverlayToggle()"
      (onShow)="onOverlayToggle()"
    >
      <div class="flex-col gap-4 w-60">
        <div class="row w-full tex-xs pb-2">
          <p-select
            #filterNamespacesSelect
            placeholder="Select a Namespace"
            class="w-full text-sm"
            [checkmark]="true"
            [options]="activeNamespaces()"
            [showClear]="true"
            [(ngModel)]="filterRefreshActiveNamespace"
          />
        </div>
        <hr />
        <div class="py-2">
          <span>Severities</span>
          <div>
            <div class="flex-col gap-0 mt-2">
              @for (severityDto of severityDtos; track severityDto.id) {
                <div class="field-checkbox mb-2 text-sm">
                  <p-checkbox
                    name="group"
                    class="ml-2"
                    [inputId]="severityDto.id.toString()"
                    [value]="severityDto"
                    [(ngModel)]="filterRefreshSeverities"
                  />
                  <label class="ml-2" [for]="severityDto.id"> {{ severityDto.name | capitalizeFirst }} </label>
                </div>
              }
            </div>
          </div>
        </div>
        <hr />
        <div class="py-2 w-full">
          <div class="grid grid-cols-2 gap-4 w-full">
            <div class="w-full">
              <p-button
                icon="pi pi-replay"
                label="Reset"
                raised
                size="small"
                text
                class="w-full"
                (onClick)="onFilterReset()"
              />
            </div>
            <div class="w-full">
              <p-button
                icon="pi pi-refresh"
                label="Refresh"
                raised
                size="small"
                text
                class="w-full"
                (onClick)="onFilterData()"
              />
            </div>
          </div>
        </div>
      </div>
    </p-popover>
  }
</div>

@if (overlayVisible()) {
  <div class="custom-backdrop"></div>
}
