<p>Test works</p>

<div style="height: 700px">
  <p-table
    scrollHeight="flex"
    [loading]="isLoading"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [value]="dataDtos"
    [virtualScroll]="true"
    [virtualScrollItemSize]="47"
  >
    <ng-template #header>
      <tr>
        <th>uid</th>
        <th>resourceName</th>
        <th>resourceNamespace</th>
        <th>resourceKind</th>
      </tr>
    </ng-template>
    <ng-template #body let-dataDto>
      <tr>
        <td>{{ dataDto.uid }}</td>
        <td>{{ dataDto.resourceName }}</td>
        <td>{{ dataDto.resourceNamespace }}</td>
        <td>{{ dataDto.resourceKind }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
