<div class="grid grid-cols-12 gap-2 items-stretch">
  <!-- Namespace selector -->
  <div class="flex w-full" [ngClass]="firstOptionWider() ? 'col-span-8' : 'col-span-4'">
    <p-select class="text-sm w-full"
              [disabled]="disabled() || firstUniqueOptions().length < 2"
              [filter]="true"
              [ngModel]="selectedFirstOption()"
              [options]="firstUniqueOptions()"
              [placeholder]="firstOptionPlaceholder()"
              [showClear]="true"
              (ngModelChange)="selectedFirstOption.set($event)" />
  </div>

  <!-- Image selector -->
  <div class="flex items-center gap-2 justify-center" [ngClass]="firstOptionWider() ? 'col-span-4' : 'col-span-8'">
    <p-select appendTo="body"
              optionLabel="secondOption"
              class="text-sm w-full"
              [disabled]="disabled() || firstUniqueOptions().length === 0"
              [filter]="true"
              [ngModel]="selectedDto()"
              [options]="filteredPairedOptions()"
              [placeholder]="secondOptionPlaceholder()"
              [showClear]="true"
              (ngModelChange)="setUid($event?.uid)" >
      <ng-template let-pairedOptionsDto pTemplate="item">
        <div class="flex items-center gap-2 w-full overflow-hidden text-sm">
          @if (pairedOptionsDto.group) {
            <p-tag rounded [value]="pairedOptionsDto.group" />
          }
          <div class="truncate whitespace-nowrap">{{ pairedOptionsDto.mainLabel }}</div>
          @if (pairedOptionsDto.icon) {
            <div class="ml-auto">
              <p-tag rounded class="flex items-center">
                <app-icon class="text-xs align-middle inline-block tod-text-contrast-color" [name]="pairedOptionsDto.icon" />
              </p-tag>
            </div>
          }
        </div>
      </ng-template>
    </p-select>
  </div>
</div>
